.App {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: black;
  overflow: hidden;
}

.section {
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: yellow;
  height: calc(100vh - 2rem);
  border-radius: 1rem;
  position: relative;
}

.title {
  font-size: 10rem;
}

.cursor {
  background: black;
  height: 2rem;
  width: 2rem;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
}
